<!DOCTYPE html>
<html>

<head>    
    <meta charset="utf-8">
    <meta name="description" content="Fakebook - domača naloga">
    <meta name="keywords" content="html, css, smartninja, ljubljana">
    <meta name="author" content="Uroš Čokl">
    <title>FAKEBOOK</title>
</head>
    

<body style="background-color:wheat">
    
    <h1 style="background-color:navy; color:white; font-family:arial">FAKE<em>BOOK</em></h1>
       
    <p style="font-family:Times; font-size:14px"><em><span style="font-size:30px; color:red">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. 
        <br>Suspendisse tristique vel odio vel volutpat. Morbi lorem justo,
        <br>iaculis vitae tellus quis, tincidunt feugiat sapien. </em></p>
    
    iskalnik     
    <input type="text" placeholder="Išči po imenu"> <button>Išči</button>
    <br>
    <hr>
    <h2>Ime in Priimek</h2>
    
        <table>
        <tr>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Portret_van_referendaris_afdeling_K.W._-_Unknown_-_20410346_-_RCE.jpg/444px-Portret_van_referendaris_afdeling_K.W._-_Unknown_-_20410346_-_RCE.jpg" style="width:200px; height:300px"></td>
        
            <td style="background-color:lemonchiffon">
                <p><strong>Kraj:</strong><em> Nekje za bregom</em></p>
                <p><strong>Starost:</strong><em> 75</em></p>
                <p><strong>Hobiji:</strong></p>
                <ul>
                    <li>negovanje brade</li>
                    <li>branje knjig</li>
                    <li>sprehodi v naravi</li>
                </ul></td>
        </tr>
    </table>
    
    <br>
    <button>Dodaj za prijatelja</button>
    
    <p><strong>Št. prijateljev:</strong><em> 123</em></p>
    <p><strong>Prijavljen od:</strong><em> 22.07.1988 </em></p>
    <p><strong>Zadnje objave:</strong></p>
    <ol>
        <li>Škržatov napev <em><span style="font-size:11px"> (01.09.2015)</span></em></li>
        <li>Razmišljanja ob kavi <em><span style="font-size:11px"> (22.10.2015)</span></em></li>
        <li>Jutri je nov dan <em><span style="font-size:11px"> (23.10.2015)</span></em></li>
    </ol>
    
    <hr>
    
    <a href="http://www.pastoralmladih.hr/getattachment/373c9691-0d99-418c-80cd-de21f0a34bf0/Hvala-na-povjerenju-i-do%C4%91ite-opet!.aspx?maxsidesize=460">
    <img src="http://i082.radikal.ru/1212/56/f5df21606047.jpg" style="width:50px;height:50px">
        </a> 
    
   <p style="font-family:Arial; color:red; font-size:11px">© Vse pravice razprodane</p>
    <br>
</body>


</html>
